
img.corner {
  float:right;
}

.quote {
  margin: 3em;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 25px;
}

.quote h5 {
  text-decoration: capitalize;
  text-align: right;
}

.quote h6 {
  text-decoration: initial;
  text-align: right;
}